html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-weight: bold;
  background-color: blue;
  color: white;
}

h3 {
  margin-left: 70px;
}
#associates,
table {
  grid-area: auto;
  text-align: center;
  table-layout:auto;
  margin: auto;
  justify-content: center;
}
table{
  columns: auto;
  margin-top: 30px;
  color: black;
  background-color: yellow;
  width: max-content;
  border: 3px solid white;
  ;
}
th{
  text-align: center;
  border-bottom: 3px solid black
}
td{
  row-gap: 5px;
  margin-top: 7px;
}
input {
  font-weight: bold;
  padding: 7px;
}
input:focus {
  background-color: wheat;
  color: black;
}
button:hover {
  background-color: #333;
  color: #fff;
}
option {
  font-weight: bold;
}